{% extends '@Inventory/base.html.twig' %}

{% block title %}Stock List{% endblock %}

{% block content %}
    <h1 class="container">Stock List</h1>

    <main class="container" style="display:flex; gap: 4%;">
        <section style="flex: 2; max-height: 70vh; overflow-y: auto;">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>SKU</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                        <tr>
                            <td>{{ stock.id }}</td>
                            <td>{{ stock.sku }}</td>
                            <td>{{ stock.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section>
            {% include '@Inventory/InventoryController/create.html.twig'%}
        </section>
    </main>
{% endblock %}